mixin profileCard(id, name, projects, bio, college, img_url)
    a(href=`/cv/${id}?username=${username}`) 
        .rounded.rounded-t-lg.overflow-hidden.shadow.w-full.my-3.transition.cursor-pointer(class="lg:w-80 lg:mx-3 lg:hover:transform lg:hover:-translate-y-10")
            div.w-full.h-48.bg-gray-600
            .flex.justify-center.-mt-8
                img(src=`${img_url}`).z-10.object-cover.h-20.w-20.overflow-hidden.rounded-full.border-solid.border-white.border-2.-mt-3
            .text-center.px-3.pb-6.pt-2
                h3.text-black.text-sm.bold.font-sans #{name}
                p.mt-2.font-sans.font-light.text-grey-dark #{bio}
            .flex.justify-center.pb-3.text-grey-dark
                .text-center.mr-3.border-r.pr-3
                    h2 Projects
                    span #{projects}
                .text-center
                    h2 College
                    span #{college}
